@model IEnumerable<Amy_Cherrez_Examen1P.Models.AmyCherrez_TablaFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmDescription_Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmPagoEfectivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmPrecio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmDescription_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmPagoEfectivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmPrecio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
